<div class="container d-flex justify-content-center align-items-center" style="padding: 20px;">
  <div class="row" style="background-color: #fff; padding: 20px; border-radius: 5px;">
  <h1 style="color:#AAAACC;">Create a Group Conversation</h1>
  <%= form_with model: @conversation, url: group_conversations_path, method: :post do |f| %>
    <%= hidden_field_tag 'creator_id', current_user.id %>

    <h3 style="color:black">Select Users:</h3>
    <% @users.each do |user| %>
      <div>
        <label style="padding-bottom: 10px;">
          <%= check_box_tag 'group_conversation[user_ids][]', user.id %>
          <%= user.name %>
        </label>
      </div>
    <% end %>

    <%= f.submit "Create Group" %>
  <% end %>
  </div>
</div>
