<div class="col-md-4 col-sm-6 col-xs-12 single-post-card" 
        id="<%= post_path(post.id) %>"
        style="min-height: 135px; max-height: 135px; box-shadow: 1px 1px 4px rgba(0,0,0,0.3); color: black; padding: 10px; text-align: left; transition: border 0.1s, background 0.5s; border-radius: 5px; background-color: #f8f9fa; margin-bottom: 20px;">
  <div class="card h-100" style="border: none; box-shadow: none;">
    <div class="card-body" style="padding:0;">
      <!-- Truncated Title -->
      <h4 class="post-text card-title text-truncate" style="overflow: hidden; font-size: 16px; font-weight: bold; margin-bottom: 2px;" title="<%= post.title %>">
        <%= truncate(post.title, length: 60) %>
      </h4>
      <!-- Post Content -->
      <div class="post-content">
        <div class="posted-by text-muted mb-2" style="font-size: 12px; margin-bottom: 2px;">
            Posted by <%= post.user.name %>
        </div>
        <h5 class="card-subtitle mb-2" style="font-size: 14px; margin-bottom: 2px;">
            <%= post.title %>
        </h5>
        <p class="card-text text-truncate" style="font-size: 13px; color: #333;">
          <%= post.content %>
        </p>
        <!-- Interested Link -->
        <a href="<%= post_path(post.id) %>" class="btn btn-primary btn-sm interested">I'm interested</a>
      </div>
    </div>
  </div><!-- card -->
</div><!-- col -->
<script>
    document.addEventListener('turbo:load', function() {
        // Ensure the event listener is bound after each Turbo load
        $("body").on("click", ".single-post-card", function() {
            //console.log('Post clicked!'); // Add a log to check if the click is working
            var posted_by = $(this).find('.post-content .posted-by').html();
            var post_heading = $(this).find('.post-content h3').html();
            var post_content = $(this).find('.post-content p').html();
            var interested = $(this).find('.post-content .interested').attr('href');
            $('.modal-header .posted-by').text(posted_by);
            $('.loaded-data h3').text(post_heading);
            $('.loaded-data p').text(post_content);
            $('.loaded-data .interested a').attr('href', interested);
            $('.myModal').modal('show');
        });
    });
        $(document).on('turbo:load', function() {
        if ($(".single-post-card").length) {
        // set a solid background color style
        if (mode == 1) {
        $(".single-post-card").each(function() {
        $(this).addClass("solid-color-mode");
        $(this).css('background-color', randomColor());
    });
    }
        // set a border color style
        else {
        $(".single-post-card").each(function() {
        $(this).addClass("border-color-mode");
        $(this).css('border', '5px solid ' + randomColor());
    });
    }
    }

        $('#feed').on('mouseenter', '.single-post-list', function() {
        $(this).css('border-color', randomColor());
    });

        $('#feed').on('mouseleave', '.single-post-list', function() {
        $(this).css('border-color', 'rgba(0, 0 , 0, 0.05)');
    });
    });

        var colorSet = randomColorSet();
        var mode = Math.floor(Math.random() * 2);

        // Randomly returns a color scheme
        function randomColorSet() {
        var colorSet1 = ['#45CCFF', '#49E83E', '#FFD432', '#E84B30', '#B243FF'];
        var colorSet2 = ['#FF6138', '#FFFF9D', '#BEEB9F', '#79BD8F', '#79BD8F'];
        var colorSet3 = ['#FCFFF5', '#D1DBBD', '#91AA9D', '#3E606F', '#193441'];
        var colorSet4 = ['#004358', '#1F8A70', '#BEDB39', '#FFE11A', '#FD7400'];
        var colorSet5 = ['#105B63', '#FFFAD5', '#FFD34E', '#DB9E36', '#BD4932'];
        var colorSet6 = ['#04BFBF', '#CAFCD8', '#F7E967', '#A9CF54', '#588F27'];
        var colorSet7 = ['#405952', '#9C9B7A', '#FFD393', '#FF974F', '#F54F29'];
        var randomSet = [colorSet1, colorSet2, colorSet3, colorSet4, colorSet5, colorSet6, colorSet7];
        return randomSet[Math.floor(Math.random() * randomSet.length)];
    }

        // Randomly returns a color from an array of colors
        function randomColor() {
        var color = colorSet[Math.floor(Math.random() * colorSet.length)];
        return color;
    }
</script>